
.ipynb_checkpoints/ps00-checkpoint.ipynb
.ipynb_checkpoints/ps00-checkpoint.ipynb
.ipynb_checkpoints/ps00-checkpoint.ok
.ipynb_checkpoints/ps00-checkpoint.ipynb
.ipynb_checkpoints/ps00-checkpoint.ipynb
.ipynb_checkpoints/ps00-checkpoint.ipynb
.ipynb_checkpoints/ps00-checkpoint.ipynb
.ipynb_checkpoints/ps00-checkpoint.ipynb
.ipynb_checkpoints/ps00-checkpoint.ipynb
.ipynb_checkpoints/2020-06-19-patriarchal-succession-checkpoint.ipynb
