
.ipynb_checkpoints/ps00-checkpoint.ipynb
.ipynb_checkpoints/ps00-checkpoint.ipynb
.ipynb_checkpoints/ps00-checkpoint.ok
.ipynb_checkpoints/ps00-checkpoint.ipynb
.ipynb_checkpoints/ps00-checkpoint.ipynb
.ipynb_checkpoints/ps00-checkpoint.ipynb
.ipynb_checkpoints/ps00-checkpoint.ipynb
.ipynb_checkpoints/ps00-checkpoint.ipynb
